pg_partman_bgw.interval = {{ pgpartman_bgw_interval }}
pg_partman_bgw.role = '{{ pgpartman_bgw_role }}'
pg_partman_bgw.dbname = '{{ pgpartman_bgw_dbname }}'
pg_partman_bgw.analyze = {{ pgpartman_bgw_analyze }}
pg_partman_bgw.jobmon = {{ pgpartman_bgw_jobmon }}
